Body{
  Margin: 0;
  Box-sizing: border-box;
  Padding :0;
  Background-color: #12181b ;
  Color: white;
  height: 500px ;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  width: 100%;
  margin: 10px 0; 
}
h1{
  display: block;
}
SVG{
  
  display: flex;
  align-items: center;
  Justify-content: center ;
}
#rect *{
 width: 300px;
 height: 200px;
 fill: #BB4AFF;
 stroke-width: 16px;
 stroke: #bb4aff;
}
#rect polyline{
  fill:none;
}
