body{margin: 0;padding :0;box-sizing: border-box;background-color: #12181b ;color: white;height: 500px ; } 
.container{display: flex;align-items: center; justify-content: center; flex-direction: column; width: 100%;padding: 30px 0; } 
h3{
				text-align: center;
}
svg{width: 90%;height: 600px;} 

#svg1 path{
				stroke: #ff9d2b; 
				stroke-width: 10px;
				fill: blue;
}

